
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');


*
{
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-transform: uppercase;
text-decoration: none;



}

h1{
    text-decoration: none;
}

$blue: #29d9d5;
$black:#111;
$white: #fff;
$light-color:#aaa;
$bg-color:#222;
$black-bg:rgba(17,17,17,.7);
$border: .2rem solid $blue;

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1.5rem;
    
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}



body {
    background: $black;

}

section{
    padding: 27rem 9%;
}

.header {
    position: fixed 0, 0, 0, 0;
    z-index: 100;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;



    .navbar a{
        font-size: 1.7rem;
        font-weight: bold;
        color:$light-color;
        display: inline-block;
        margin:0 2rem;

    
    
        &:hover{
            color:$blue;
            transition: .2s linear;

        }}}
    

.btn{
    margin-top: 0;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color:$blue;
    border:$border;
    border-radius: 30px;
    cursor: pointer;
    background: none;


    &:hover{
        background: $blue;
        color:$black;
        transition: .2s linear;
    }
}


.home {
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    border-radius: 1rem;
    background: linear-gradient($black-bg,$black-bg), url("../img/wallpaper.jpeg") no-repeat;
    background-size: cover; background-position: center;

    .content{
        text-align: center;

        span {
            font-weight: bold;
            font-family: arial;
            color: transparent; 
            -webkit-text-stroke: 1px $white;
            font-size: 5vw;
            display: block;
        }

        h3{
            font-size: 3.5vw;
            color:$white;
        }

        p{
            max-width: 50rem;
            margin: auto;
            margin-bottom: 10px;
            font-size: 1.4rem;
            color:$light-color;
            line-height: 2;
        }

    }

}



#menu-btn{
    cursor: pointer;
    display: none;
}

.book-form{
    width: 65%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: $bg-color;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17,17,17,.3);
    padding: 3rem 8rem;
    

    form{
        display: flex;
        flex-wrap: wrap;

        gap:2rem;
        
        .inputBox{ 
            flex:1 1 10rem;
        }

        input{
            width: 80%;
            padding: 1.2rem 2rem;
            margin-top: 0.5rem;
            border-radius: 5rem;
            border:$border;
            font-size: 1.6rem;
            color:$light-color;
            text-transform: none;
            background: none;
        }
        .btn{
            flex: 0;
        }

    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 0;
    margin-top: 8rem;
    margin-bottom: 5rem;
    padding-bottom: 0;
    
    .image-container{
        flex: 1 1 42rem;
        
        img{
            border-radius: 1rem;
            width: 540px;
            height: 360px;

        }
        
        .controls {
            text-align: center;
            padding: 2rem 0;

            span{
                display: inline-block;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                background: $white;
                cursor: pointer;
                margin:.7rem;

                &:hover{
                    background: $blue;
                }
            }
    }
    

    }
    .content{
        flex: 1 1 42rem;
        margin-bottom: 5rem;

        span{
            color:$blue;
            font-size: 2rem;
        }

        h3{
            color:$white;
            font-size: 4rem;
            margin-top: .5rem;
        }

        p{
            padding:1rem 0;
            font-size: 1.4rem;
            color:$light-color;
            line-height: 2;
        }
    }
}


.services{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5rem;
    .box-container{
        @include grid(32rem);


        .box{
            background: $bg-color;
            border-radius: 1rem;
            padding:3rem 2rem;
            text-align: center;
            border:.2rem solid $black;
            transition: all .2s linear;

            &:hover{
                border:$border;
                
            }

            .icon{
                fill:$blue;
            }
            h3{
                margin-top: 5px;
                font-size: 2rem;
                color:$white;
            }
        }
    }}
.heading {
    text-align: center;
    margin-bottom: 2rem;


    span{
        color:$blue;
        font-size: 2rem;
    }

    h1{
        font-size: 4rem;
        color:$white;

    }

}


.blogs{
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 150px;


 .box-container{
    @include grid(32rem);


    .box{
        border-radius: 1rem;
        background: $bg-color;
        overflow: hidden;
        
        
        &:hover{
            .image img{
                transform: scale(1.1);
                transition: all .2s linear;

            }}
        

        .image{
            height: 25rem;
            overflow: hidden;
            width: 100%;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all .2s linear;
            }}
        .blog-icon{
            fill:$blue;
        }

        .content{
            padding:2rem;

            
            .link{
                font-size: 2rem;
                color: $white;

                &:hover{
                    color:$blue;
                }
            }
            p{
                padding: 1rem 0;
                font-size: 1.4rem;
                color:$light-color;
                line-height: 2;
            }


            .icon{
                padding-top: 1rem;
                display:flex;
                align-items: center;
                justify-content: space-between;

                a{
                    font-size: 15px;
                    color:$light-color;
                }
            }
        }
    }
}
}

footer{
        .box-container{
            @include grid(32rem);
            gap: 0rem;
            max-width: 700px;
            text-align: center;
            justify-content: center;
            margin: 0 auto;
            
            
            .box{
                padding:1rem 0;

                .logo{
                    padding-bottom: 1rem;
                }

                h3{
                    font-size: 2.2rem;
                    color:$white;
                    padding: 1rem 0;
                }
                p{
                    font-size: 1.4rem;
                    color:$light-color;
                    padding: 1rem 0;
                    line-height: 2;
                }

                .links{
                    font-size: 1.4rem;
                    color:$light-color;
                    padding:1rem 0;
                    display: block;

                    &:hover{
                        color: $blue;


                    }
                }
            .share{
                padding-top: 1rem;
   

                
            }
            }
        }
    }


@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 25rem 2rem;
    }

}
@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }

    .header {
        
        .navbar{
            position: absolute;
            top:7%; left:0; right: 0;
            background: $bg-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: all .2s linear;
            
            &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
             
            }

            a{
                margin: 2rem;
                font-size: 2rem;
                display: block;
                
            }
    }

    }
}



@media (max-width:451px) {

    html{
        font-size: 50%;
        
      
    }

    .about .content h3{
        font-size: 3.5rem;
    }

   .home .content p{
        font-size: 1.5rem;
        margin: 2px;
    }

    .home .content span{
        font-size: 4rem;
    }

    .home .content h3{
        font-size: 2rem;
    }

}
